---
import AboutL from "@/components/AboutL.astro";
import THIMEROSALM from "@/components/THIMEROSALM.astro";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Hard evidence that all vaccines are poison. Every single one!",
	title: "MERCURY / THIMEROSAL IS IN ALL VACCINES!!!",
};
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">MERCURY / THIMEROSAL IS IN ALL VACCINES!!!</h1>
	<div class="prose prose-citrus max-w-none">
		<p>Hard evidence that all vaccines are poison. Every single one!</p>
		
	</div>

	  <!-- Hard evidence that all vaccines are poison. Every single one! -->
  <div
    class="block px-4 m-4 rounded-xl border-r border-b border-l  lg:border-l-0 lg:border-t rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
  >
    <!--   <Lista /> -->

    <h2 id="mercury">
      <p class="mb-4 text-base text-left font-bold">
        MERCURY / THIMEROSAL IS IN ALL VACCINES!!!
      </p>
      <p class="mb-4 text-base text-left font-bold">
        Hard evidence that all vaccines are poison. Every single one!
      </p>
    </h2>
    <div
      class="content-center overflow-hidden bg-cover bg-no-repeat"
      data-te-ripple-init
      data-te-ripple-color="light"
    >
      <div
        class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
        style="padding-top: 56.25%"
      >
        <iframe
          class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
          src="https://rumble.com/embed/v6whkvc/?pub=166b2j"
          allowfullscreen=""
          data-gtm-yt-inspected-2340190_699="true"
          id="240632615"></iframe>
      </div>
    </div>
    <div class="p-6 top-0 text-center">
      <THIMEROSALM />
      <!-- <Suramin /> -->
      <!-- <AboutL /> -->
    </div>
  </div>
  <!-- Hard evidence that all vaccines are poison. Every single one! -->


	  <!-- TRACE AMOUNTS (2014)- VACCINE DOCUMENTARY -->
  <div
    class="block px-4 m-4 rounded-xl border-r border-b border-l  lg:border-l-0 lg:border-t rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
  >
    <!--   <Lista /> -->

    <h2 id="trace">
      <p class="mb-4 text-base text-left font-bold">TRACE AMOUNTS (2014)- VACCINE DOCUMENTARY</p>
      <p class="mb-4 text-base text-left font-bold">Trace Amounts is an investigative documentary exploring the link between the mercury based preservative thimerosal and the autism epidemic.</p>
    </h2>
    <div
      class="content-center overflow-hidden bg-cover bg-no-repeat"
      data-te-ripple-init
      data-te-ripple-color="light"
    >
      <div
        class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
        style="padding-top: 56.25%"
      >
        <iframe
          class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
          src="https://rumble.com/embed/v2tstzc/?pub=4"
          allowfullscreen=""
          data-gtm-yt-inspected-2340190_699="true"
          id="240632615"></iframe>
      </div>
    </div>
    <div class="p-6 top-0 text-center">
      <THIMEROSALM />
      <!-- <Suramin /> -->
      <!-- <AboutL /> -->
    </div>
  </div>
  <!-- TRACE AMOUNTS (2014)- VACCINE DOCUMENTARY -->

 

</PageLayout>
