		<p>
			Clone or fork my <a
				aria-label="github repository"
				class="citrus-link inline-block"
				href="https://github.com/artemkutsan/astro-citrus"
				rel="noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>
				<p>
			<a
				class="citrus-link inline-block"
				href="./thimerosal#mercury">MERCURY / THIMEROSAL IS IN ALL VACCINES!!!</a
			>
		</p>

<p>Here are my some of my awesome built in features:</p>
<ul class="list-inside list-disc" role="list">

  <li>
    <a class="cactus-link inline-block" href="./thimerosal#mercury"
      >MERCURY / THIMEROSAL IS IN ALL VACCINES!!!</a></li>
</ul>

<p>Here are my some of my awesome built in features:</p>
<ul class="list-inside list-disc" role="list">

  <li>
  <a
    class="cactus-link inline-block"
    href="https://github.com/chrismwilliams/astro-cactus"
    rel="noreferrer"
    target="_blank">Clone or fork my repo</a
  ></li>
</ul>

<p>
    <a class="cactus-link inline-block" href="./thimerosal#mercury"
      >MERCURY / THIMEROSAL IS IN ALL VACCINES!!!</a>
</p>

