---
import Tops from "./Tops.astro";
---

<Tops />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./liabilitymate#world"
    ><span
      class="text-green-700 bg-orange-200 font-bold text-justify   hover:text-green-900"
      >RICCARDO BOSI "IT'S A WORLD WAR WE MUST WIN" @5:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./storm#australian"
    ><span
      class="text-green-700 bg-orange-200 font-bold text-justify   hover:text-green-900"
      >Comrade Lt. Colonel Riccardo Bosi, Australian former Special Forces Commander #WWG1WGA</span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@NikosHadjopulos:3/Pascal-Najadi-Talks-with-Gen.-Riccardo-Bosi-(May-8,-2024):e"
    rel="noopener"
    target="_blank"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Pascal Najadi Talks with Gen. Riccardo Bosi (May 8, 2024)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@Liabilitymate:d/bosi2:b"
    rel="noopener"
    target="_blank"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >RICCARDO BOSI "IT'S A WORLD WAR WE MUST WIN"(Liabilitymate)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@liabilitymate:5/ricard:00"
    rel="noopener"
    target="_blank"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >RICCARDO BOSI "IT'S A WORLD WAR WE MUST WIN"(liabilitymate)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@OzFlor:7/291223:b" rel="noopener" target="_blank"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Riccardo Bosi with the Bnai Brith</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6wht70-bosi-briefs-premiere-epstein-military-tribunals-and-global-war-plan-exposed.html" rel="noopener" target="_blank"
    ><span class="text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-green-900"
      >Bosi Briefs PREMIERE | Epstein, Military Tribunals & Global War – Plan EXPOSED</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6wht70-bosi-briefs-premiere-epstein-military-tribunals-and-global-war-plan-exposed.html?" rel="noopener" target="_blank"
    ><span class="text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-green-900"
      >Bosi Briefs PREMIERE | Epstein, Military Tribunals & Global War – Plan EXPOSED(John Michael Chambers - JMC Broadcasting)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6xbgt8-the-white-hats-coordinated-takedown-of-deep-state-systems-riccardo-bosi.html?" rel="noopener" target="_blank"
    ><span class="text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-green-900"
      >The White Hats' Coordinated Takedown of Deep State Systems | Riccardo Bosi(John Michael Chambers - JMC Broadcasting)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6wiir8-australiaone-party-bosi-briefs-22-july-2025.html" rel="noopener" target="_blank"
    ><span class="text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-green-900"
      >AustraliaOne Party - Bosi Briefs (22 July 2025)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6wiir8-australiaone-party-bosi-briefs-22-july-2025.html" rel="noopener" target="_blank"
    ><span class="text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-green-900"
      >AustraliaOne Party - Bosi Briefs (22 July 2025)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6xthig-australiaone-party-bosi-briefs-16-august-2025.html" rel="noopener" target="_blank"
    ><span class="text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-green-900"
      >AustraliaOne Party - Bosi Briefs (16 August 2025)(16:20)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=kCi9wuPS-aM" rel="noopener" target="_blank"
    ><span class="text-red-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-green-900"
      >EXPERTS WARN: Australia Will Collapse in 2026 – Here’s Why 🇦🇺 Econet</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=257373" rel="noopener" target="_blank"
    ><span class="text-blue-500 font-bold hover:text-purple-900"
      >Bosi Briefs PREMIERE | Epstein, Military Tribunals & Global War – Plan EXPOSED</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6y8dq8-australiaone-party-the-path-to-a-world-without-war-trust-the-plan-29-august.html?e9s=src_v1_ucp_a" rel="noopener" target="_blank"
    ><span class="text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-purple-900"
      >AustraliaOne Party - The Path to a World Without War - Trust The Plan (29 August 2025)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6wz0o6-the-elites-know-whats-coming-in-2027and-theyre-terrified-w-scott-kesterson.html" rel="noopener" target="_blank"
    ><span class="text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-purple-900"
      >The Elites Know What’s Coming in 2027—And They’re TERRIFIED w/ Scott Kesterson</span
    >
  </a>
</h5>

 <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a
          href="https://rumble.com/c/AustraliaOneParty"
          rel="noopener"
          target="_blank"
          ><span
            class="text-green-700 bg-orange-200 font-bold text-justify   hover:text-green-900"
            >AustraliaOne Party</span
          >
        </a>
      </h5>
        <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a
          href="https://www.bitchute.com/channel/australiaone/"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-700  font-bold text-justify   hover:text-green-900"
            >AustraliaOne Party</span
          >
        </a>
      </h5>

       <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a
          href="https://rumble.com/c/JMCBroadcasting"
          rel="noopener"
          target="_blank"
          ><span
            class="text-green-700 bg-orange-200 font-bold text-justify   hover:text-green-900"
            >JMC Broadcasting</span
          >
        </a>
      </h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://exopolitics.org/3i-atlas-us-navy-jedi-admirals-lead-starship-coming-home/" rel="noopener" target="_blank"
    ><span class="text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-green-900"
      >3I Atlas: US Navy “Jedi” Admiral’s Lead Starship Coming Home</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=QqQwASuRtjE" rel="noopener" target="_blank"
    ><span class="text-red-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-green-900"
      >3I Atlas: US Navy “Jedi” Admiral’s Lead Starship Coming Home</span
    >
  </a>
</h5>



