---
import EAR from "./EAR.astro";

---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base    hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base    hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cds-mms"
    ><span class="text-blue-500 text-base    hover:text-green-900"
      >More on CDS MMS</span
    >
  </a>
</h5>
                        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./autism#treatment"
    ><span class="text-sky-500 bg-gray-100 font-bold   hover:text-green-900"
      >There is a critical need for effective treatment of the core symptoms of autism spectrum disorder (ASD).(SURAMIN)(reverse AUTISM)</span
    >
  </a>
        </h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#vaccines"
    ><span
      class="text-pink-600 bg-yellow-100 font-bold   hover:text-green-900"
      >Breaking News: SHOCKING - Here is What Really is in the Vaccines</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/RobertKennedyJr/status/1854654741730455907" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base    hover:text-slate-800"
      >Great point @ComicDaveSmith. We should all be asking: What is it that's making our children sick?(RobertKennedyJr)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.naturalnews.com/052992_vaccine_schedule_childhood_vaccines_CDC.html" rel="noopener" target="_blank"
    ><span class="text-sky-600 font-extrabold    hover:text-slate-800"
      >Weapons of Mass Vaccination? CDC intensifies childhood vaccine schedule to include 74 injections before age 17</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/6ENjgspHwcmO/" rel="noopener" target="_blank"
    ><span class="text-red-600 bg-black font-bold    hover:text-red-800"
      >The Truth About Autism: A Mother Speaks Out - 29th Aug 2025</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#judy"
    ><span
      class="text-blue-900 bg-yellow-100 font-bold    hover:text-green-900"
      >DR. JUDY MIKOVITS: THE VACCINE ANTIDOTE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#suramin"
    ><span
      class="text-blue-900 bg-yellow-100 text-justify font-bold    hover:text-green-900"
      >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES + IMAGES +
      MORE - SAVE YOUR LOVED ONES!</span
    >
  </a>
</h5>

       <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 font-bold hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://horbaach.com/en-AU/products/triple-boron-complex-6mg-300-tablets?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-700 bg-sky-200 font-bold hover:text-slate-900"
      >Triple Boron Complex 6 mg Supplement(Horbaach's)</span
    >
  </a>
</h5>

       <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 font-bold hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>


       <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/PaulGoldEagle/status/1965286049082745296"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 font-bold hover:text-red-700"
              >For the record… 130 studies linking AUTISM to VACCINES.</span
            >
          </a>
        </h5>

               <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="hhttps://childrenshealthdefense.org/uncategorized/mercury-is-not-safe-in-any-form-debunking-the-myths-about-thimerosal-safety/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 font-bold hover:text-red-700"
              >Mercury is Not Safe in Any Form: Debunking the Myths About Thimerosal “Safety”</span
            >
          </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/af349fa1-3c7c-488e-9146-05e6cde19127"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-600 bg-sky-300 font-bold   hover:text-green-900"
      >STEVE KIRSCH: "WE CAN’T FIND AN AUTISTIC KID WHO WAS UNVACCINATED!"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nuremberg#nanotech"
    ><span
      class="text-sky-700 bg-red-200 font-bold   hover:text-blue-700"
      >Bill Gates Admits the Shots Contain Nanotech</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/stkirsch/status/1738291623585632325?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base    hover:text-green-900"
      >Pediatrician Doug Hulstedt has seen 150 autism cases.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/stkirsch/status/1738359836092637411?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base    hover:text-green-900"
      >Up to 90% of the autism cases are caused by vaccines according to an
      autism doctor who has treated over 8,000 cases.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/threesevens/posts/112284630308141999"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-yellow-100 text-base text-justify    hover:text-green-900"
      >Was the movie Rainman a predictive programming psyop to introduce the
      word autism into public consciousness and normalize it into widespread
      acceptance? The National Childhood Vaccine Injury Act was signed in 1986.
      The movie came out in 1988. In 1990, incidents of autism in schools rose
      dramatically.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vaccineimpact.com/2019/autism-can-be-cured-how-to-use-the-chlorine-dioxide-protocol-to-recover-broken-lives/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-black bg-gray-100 text-base text-justify    hover:text-green-900"
      >Autism can be Cured – How to use the Chlorine Dioxide Protocol to Recover Broken Lives</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://organiclifestylemagazine.com/autism-down-syndrome-and-other-genetic-disorders"
    rel="noopener"
    target="_blank"
    ><span
      class="text-black bg-gray-100 text-base text-justify    hover:text-green-900"
      >Autism, Down Syndrome, and Other Genetic Disorders(DMSO)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#thimerosal"
    ><span
      class="text-pink-500 bg-yellow-100 font-bold hover:text-green-900"
      >Trace Amounts is an investigative documentary exploring the link between
      the mercury based preservative thimerosal and the autism epidemic.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./thimerosal#mercury"
    ><span
      class="text-pink-500 bg-yellow-100 font-bold hover:text-green-900"
      >MERCURY / THIMEROSAL IS IN ALL VACCINES!!!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/PaulGoldEagle/status/1965286049082745296"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-yellow-100 font-bold   hover:text-sky-900"
      >For the record… 130 studies linking AUTISM to VACCINES.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#bluetooth"
    ><span
      class="text-sky-500 bg-pink-200 font-bold hover:text-green-900"
      >Someone's Body Gets Connected To Bluetooth And A Grocery Store Zombie
      That Is Suffering From Something</span
    >
  </a>
</h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./autism#judy"
    ><span class="text-pink-500 bg-gray-100 font-bold    hover:text-green-900"
      >DR. JUDY MIKOVITS: THE VACCINE ANTIDOTE(SURAMIN)(reverse AUTISM)</span
    >
  </a>
        </h5>

               <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./autism#suramin"
    ><span class="text-pink-500 bg-gray-100 font-bold   hover:text-green-900"
      >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES + IMAGES + MORE - SAVE YOUR LOVED ONES!</span
    >
  </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://growyouthful.com/ailment/heavy-metal-poisoning.php"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-500 bg-yellow-100 font-bold   hover:text-green-900"
      >What is heavy metal poisoning (toxicity)?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.fullhealthsecrets.com/diseases/autism/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-500 bg-yellow-100 font-bold   hover:text-green-900"
      >REVERSING AUTISM</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.fullhealthsecrets.com/diseases/autism/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-500 bg-yellow-100 font-bold   hover:text-green-900"
      >Children with autism are deficient in antioxidant GLUTATHIONE (king of
      all antioxidants) which plays most important role in detoxifying and
      regenerating the body.</span
    >
  </a>
</h5>

<EAR />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.vaccine-injury.info/curing-autism.cfm"
    rel="noopener"
    target="_blank"
    ><span
      class="text-gray-700 bg-yellow-100 font-bold   hover:text-gray-900"
      >Reversing Autism with a Biomedical Protocol</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/e785334a-90e1-4ef1-a7fa-79aa120b1506"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-500 bg-sky-200 font-bold   hover:text-green-900"
      >Part 1 The Vaccine-Autism Connection - Dr Rashid Buttar</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://beforeitsnews.com/health/2023/05/how-dr-rashid-buttar-r-i-p-cured-his-autistic-son-video-3051595.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-500 bg-sky-200 font-bold   hover:text-green-900"
      >How Dr Rashid Buttar [R.I.P.] Cured His Autistic Son (Video)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.naturalnews.com/2024-05-27-mccullough-australian-professor-science-vaccines-autism.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-yellow-100 font-bold   hover:text-green-900"
      >Dr. McCullough, Australian professor highlight scientific links between
      vaccines and autism</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://expose-news.com/2024/05/22/childhood-vaccines-and-autism-things-have-got-out-of-control/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-yellow-100 font-bold   hover:text-green-900"
      >Childhood vaccines and autism: Things have got out of control</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#implant"
    ><span
      class="text-purple-700 bg-yellow-100 text-base    hover:text-green-900"
      >BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with
      Cancer Viruses</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#life"
    ><span
      class="text-purple-700 bg-yellow-100 font-bold   hover:text-green-900"
      >VACCINES NEVER SAVED A SINGLE LIFE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#insider"
    ><span class="text-blue-900 text-base    hover:text-green-900"
      >Pfizer Insider Admits mRNA Set To Kill BILLIONS Within Months</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#cowpox"
    ><span
      class="text-sky-500 bg-yellow-100 text-base    hover:text-green-900"
      >I Never Saw Cancer in Anyone Unvaccinated “Says a Doctor in 1936 and by
      Many Doctors Since</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#vaccines"
    ><span
      class="text-pink-500 bg-yellow-100 font-bold   hover:text-green-900"
      >DO VACCINES CAUSE CANCER? | DR BUTTAR'S THOUGHTS ON THE DANGERS OF
      VACCINES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#media"
    ><span
      class="text-pink-500 bg-yellow-100 font-bold   hover:text-green-900"
      >VACCINES AND AUTISM - THE MEDIA DOES NOT WANT THIS OUT - DR RASHID BUTTAR</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#vaccine"
    ><span class="text-green-600 text-base    hover:text-green-900"
      >The Truth About Vaccines Documentary "Vaccinations Aren't What You Think
      They Are"</span
    >
  </a>
</h5>
<h3
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#thimerosal"
    ><span
      class="text-pink-500 bg-yellow-100 font-bold hover:text-green-900"
      >Documentary: Trace Amounts @15:00 @46:26</span
    >
  </a>
</h3>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#interview"
    ><span
      class="text-green-700 bg-yellow-100 font-bold   hover:text-green-900"
      >Plandemic - Part 1 - Dr. Judy Mikovits</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#disease-x"
    ><span class="text-green-600 text-base    hover:text-green-900"
      >"Dr. 'Judy Mikovits' Goes Nuclear On 'Disease-X' Big Pharma & The Legacy
      Media</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#autismone"
    ><span class="text-pink-500 text-base    hover:text-green-900"
      >Dr Andreas Kalcker at AutismOne 2014 Successful Treatment of Autism 720p</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cds-mms#five"

    ><span class="text-blue-500 font-bold   hover:text-green-600"
      >Five Amazing Recoveries With THE UNIVERSAL ANTIDOTE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cds-mms#documentary"

    ><span class="text-blue-500 font-bold   hover:text-green-600"
      >The Universal Antidote – Chlorine Dioxide Documentary (Video)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#gunn"
    ><span
      class="text-sky-500 bg-white text-base    hover:text-green-900"
      >New Zealand investigator Liz Gunn interviewed on the arrest of Barry
      Young for releasing the TRUTH about vaccine fatalities</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#graves"
    ><span
      class="text-gray-800 bg-white font-extrabold    hover:text-green-900"
      >90 fresh new graves in a small town of 13,000 in New Zealand</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3z65m1-m.o.a.r-the-mother-of-all-revelations.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-blue-100 font-bold   hover:text-green-900"
      >M.O.A.R - The Mother Of All Revelations</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/VigilantFox/status/1734356375155638525"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base    hover:text-purple-700"
      >Database administrator Barry Young found that one individual who
      vaccinated a large number of people had 400 deaths tied to her name.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/ShadowofEzra/status/1862579389281562655"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold   hover:text-sky-900"
      >In a heartbreaking moment, a professor broke down in tears before thousands, revealing that Australia had...</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#young"
    ><span
      class="text-sky-700 bg-yellow-300 font-bold   hover:text-green-900"
      >THE YOUNG ONES: UNDER 40's NEW ZEALAND JAB DATA - BARRY YOUNG & LIZ GUNN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nuremberg#dying"
    ><span
      class="text-sky-900 bg-yellow-300 font-bold text-justify   hover:text-green-900"
      >Exclusive! "People Were Dying Within Hours From The Shots" Warns Hospital
      Whistleblower</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nuremberg#nanotech"
    ><span
      class="text-sky-700 bg-red-200 text-base    hover:text-blue-700"
      >Bill Gates Admits the Shots Contain Nanotech</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1dls4z-autism-caused-by-vaccines-debate-with-jenny-mccarthy-on-the-doctors.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-blue-100 font-bold   hover:text-green-900"
      >Autism Caused By Vaccines Debate With Jenny Mccarthy On 'The Doctors'</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vydgad-its-bulletproof-we-are-causing-autism-a-1999-cdc-study-links-autism-to-vacc.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-blue-100 font-bold hover:text-green-900"
      >"It's Bulletproof; We Are Causing Autism" - A 1999 CDC Study Links Autism to Vaccines Containing Mercury</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2025/07/07/kat-update-q-the-storm-rider-on-the-deep-state-plan-to-change-the-future-stopped-by-qteam/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-300 bg-blue-900 font-bold  hover:text-green-100"
      >NONE OF THE VACCINES ADMINISTERED TO CHILDREN DURING THE FIRST 6-MONTHS OF LIFE HAVE EVER BEEN STUDIED FOR AUTISM…</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v6upvjr-autism-is-not-caused-by-vaccines-or-is-it.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-blue-100 font-bold   hover:text-green-900"
      >Autism Is NOT Caused By Vaccines or Is It?</span
    >
  </a>
</h5>

<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
