---

---

<!-- Tops /> -->
<!-- <THIMEROSALM /> -->
 <!-- <MikovitsL /> -->
  				<p><a
				class="citrus-link inline-block"
				href="../../thimerosal#mercury"
        >Hard evidence that all vaccines are poison. Every single one!</a
			>
		</p>

		<p>
      <a
				class="citrus-link inline-block"
				href="https://www.brighteon.com/0dbe763b-8e2e-49f1-99b2-6914c61345c1"
				rel="noreferrer"
				target="_blank">CDC Advisory Panel Exposes Alarming Dangers of COVID-19 Shots</a
			>
		</p>


		<p>
      <a
				class="citrus-link inline-block"
				href="https://rumble.com/v6yoh46-hard-evidence-that-all-vaccines-are-poison.-every-single-one.html?"
				rel="noreferrer"
				target="_blank">Hard evidence that all vaccines are poison. Every single one!</a
			>
		</p>

		<p>
      <a
				class="citrus-link inline-block"
				href="https://rumble.com/c/TheRealDrJudy?"
				rel="noreferrer"
				target="_blank">The Real Dr. Judy A. Mikovits</a
			>
		</p>

		<p>
      <a
				class="citrus-link inline-block"
				href="https://rumble.com/v4zat0n-the-biggest-crime-in-the-history-of-medicine-dr.-boz-annette-bosworth-md.html"
				rel="noreferrer"
				target="_blank">The biggest crime in the history of medicine Dr. Boz [Annette Bosworth, MD](rumble.com)</a
			>
		</p>

    		<p>
      <a
				class="citrus-link inline-block"
				href="https://www.youtube.com/watch?v=lvf7l59aKpE&t=1s"
				rel="noreferrer"
				target="_blank">NEVER Say This to a Doctor (It Could Cost You)</a
			>
		</p>

  				<p><a
				class="citrus-link inline-block"
				href="../../autism#thimerosal"
        >Trace Amounts is an investigative documentary exploring the link between
      the mercury based preservative thimerosal and the autism epidemic.</a
			>
		</p>

