---

---

<!-- Tops /> -->
<!-- <THIMEROSALM /> -->
 <!-- <MikovitsL /> -->
  				<p><a
				class="citrus-link inline-block"
				href="./thimerosal#mercury"
        >Hard evidence that all vaccines are poison. Every single one!</a
			>
		</p>
   <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./thimerosal#mercury"
    ><span
      class="text-pink-500 bg-yellow-100 font-bold hover:text-green-900"
      >Hard evidence that all vaccines are poison. Every single one!</span
    >
  </a>
</h5>

		<p>
			Clone or fork my <a
				aria-label="github repository"
				class="citrus-link inline-block"
				href="https://github.com/artemkutsan/astro-citrus"
				rel="noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>


   <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/0dbe763b-8e2e-49f1-99b2-6914c61345c1"
        rel="noopener"
    target="_blank"
    ><span
      class="text-blue-900 bg-yellow-100 font-bold hover:text-red-900"
      >CDC Advisory Panel Exposes Alarming Dangers of COVID-19 Shots</span
    >
  </a>
</h5>

       <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6yoh46-hard-evidence-that-all-vaccines-are-poison.-every-single-one.html?"
      rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-gray-100 font-bold hover:text-green-900"
      >Hard evidence that all vaccines are poison. Every single one!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/TheRealDrJudy?"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-green-900"
      >The Real Dr. Judy A. Mikovits</span
    >
  </a>
</h5>

       <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=v3N-uFfvU5s"
      rel="noopener"
    target="_blank"
    ><span
      class="bg-primary/50"
      >The biggest crime in the history of medicine Dr. Boz [Annette Bosworth, MD]</span
    >
  </a>
</h5>


       <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=lvf7l59aKpE&t=1s"
      rel="noopener"
    target="_blank"
    ><span
      class="bg-primary/50"
      >NEVER Say This to a Doctor (It Could Cost You)</span
    >
  </a>
</h5>


       <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v4zat0n-the-biggest-crime-in-the-history-of-medicine-dr.-boz-annette-bosworth-md.html"
      rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-gray-100 font-bold hover:text-green-900"
      >The biggest crime in the history of medicine - Dr. Boz [Annette Bosworth, MD]</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#thimerosal"
    ><span
      class="text-pink-500 bg-yellow-100 font-bold hover:text-green-900"
      >Trace Amounts is an investigative documentary exploring the link between
      the mercury based preservative thimerosal and the autism epidemic.</span
    >
  </a>
</h5>
